@import url('https://fonts.googleapis.com/css2?family=Playwrite+TZ:wght@100..400&display=swap" rel="stylesheet');

* {
    font-family: 'Bebas Neue', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    line-height: 1.5;
    background-color: #000000;
}

.navbar {
    background-color: #e77122;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.logo img {
    max-width: 100px;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.nav-links li a:hover {
    color: #ff6600;
}

.container {
    width: 90%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 295px;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs-column {
    width: 100%;
    margin-top: 30px;
}

.inputs-column input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

.title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
}

.title h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px !important;
}

.container2 {
    width: 90%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 20px;
}

.navigation {
    padding: 10px;
}

.navigation h3 {
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color: black;
    transition: color 0.3s;
    cursor: pointer;
}

.navigation h3:hover {
    color: orange;
}

.input-container {
    position: relative;
    margin: 10px 10px 30px;
}

.input-field {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 40px;
    height: 2px;
    width: 0;
    background-color: #ff7300;
    transition: all 0.3s ease;
}

.input-field:focus + .input-label {
    top: -8px;
    font-size: 10px;
    color: #ff7300;
}

.input-field:focus + .input-label + .input-highlight {
    width: 100%;
}

.input-container i {
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ff6600;
    cursor: pointer;
    transition: color 0.3s;
}

.input-container i:hover {
    color: #000000;
}

.button-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.update-button {
    background-color: #e74919;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.update-button:hover {
    background-color: #000000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #000000;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.close {
    color: #ff4901;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    color: #ff6600;
    font-size: 20px;
    margin-bottom: 15px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.modal-content button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #e65c00;
}

.containerPedidos {
    width: 90%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.titlePedido, .subtitle {
    text-align: center;
    margin-bottom: 15px;
}

.titlePedido {
    font-size: 18px;
}

.subtitle {
    font-size: 14px;
}

.pedidos-lista {
    width: 100%;
}

.pedido-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
    border-bottom: 1px solid #000000;
    margin-top: 10px;
}

.pedido-info {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
}

.pedido-info span {
    flex-basis: calc(50% - 8px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.pedido-actions {
    margin-top: 10px;
}

.cancelar-button {
    background-color: #ee540d;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancelar-button:hover {
    background-color: #d24400;
}

.flecha-retorno {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.flecha-retorno:hover {
    color: #ff6600;
}

.swal2-popup {
    background-color: rgb(0, 0, 0) !important;
}

.swal2-title,
.swal2-content,
.swal2-html-container {
    color: white !important;
}

.swal2-confirm {
    background-color: #ec6e19 !important;
    color: white !important;
}

@keyframes pulse-green {
    0% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(82, 255, 82, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(82, 255, 82, 0);
    }
    100% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(82, 255, 82, 0);
    }
}

/* @media only screen and (max-width: 375px) {
    body {
        font-size: 14px;
    }

    .navbar {
        height: 50px;
    }

    .logo img {
        max-width: 90px;
        margin-right: 10px;
    }

    .nav-links li a {
        font-size: 12px;
    }

    .container, .container2, .containerPedidos {
        top: 50px;
    }

    .title h2 {
        font-size: 14px !important;
    }
    

    .inputs-column input {
        font-size: 14px;
        padding: 8px;
    }

    .input-label {
        font-size: 12px;
    }

    .input-field, .edit-button {
        font-size: 14px;
    }

    .input3-container{
        padding: 15px;
        font-size: -100px;
        margin-top: 70px;
    }

    .modal-content {
        width: 90%;
    }

    .modal-content h2 {
        font-size: 18px;
    }

    .modal-content input[type="text"],
    .modal-content input[type="password"],
    .modal-content button {
        font-size: 12px;
    }

    .titlePedido h2 {
        font-size: 35px;
        padding: 130px 100px;
    }

    .titlePedido h3{
        font-size: 50px;
        margin-top: 50px;
    }

    .subtitle {
        font-size: 12px;
    }

    .pedido-info span {
        font-size: 15px;
    }

    .cancelar-button {
        font-size: 10px;
    }

    .pedido-item{
        font-size: 20px;
        padding: -200px;
    } */

    /* @media only screen and (max-width: 414px){
        body {
            font-size: 14px;
        }
    
        .navbar {
            height: 50px;
        }
    
        .logo img {
            max-width: 90px;
            margin-right: 10px;
        }
    
        .nav-links li a {
            font-size: 12px;
        }
    
        .container, .container2, .containerPedidos {
            top: 50px;
        }
    
        .title h2 {
            font-size: 14px !important;
        }
        
    
        .inputs-column input {
            font-size: 14px;
            padding: 8px;
        }
    
        .input-label {
            font-size: 12px;
        }
    
        .input-field, .edit-button {
            font-size: 14px;
        }
    
        .input3-container{
            padding: 15px;
            font-size: -100px;
            margin-top: 70px;
        }
    
        .modal-content {
            width: 90%;
        }
    
        .modal-content h2 {
            font-size: 18px;
        }
    
        .modal-content input[type="text"],
        .modal-content input[type="password"],
        .modal-content button {
            font-size: 12px;
        }
    
        .titlePedido h2 {
            font-size: 35px;
            padding: 130px 100px;
        }
    
        .titlePedido h3{
            font-size: 50px;
            margin-top: 50px;
        }
    
        .subtitle {
            font-size: 12px;
        }
    
        .pedido-info span {
            font-size: 15px;
        }
    
        .cancelar-button {
            font-size: 10px;
        }
    
        .pedido-item{
            font-size: 20px;
            padding: -200px;
        }

    } */

