/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+TZ:wght@100..400&display=swap" rel="stylesheet');

body {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px; /* Tamaño del texto, ajusta según necesites */
    line-height: 1.6; /* Espaciado entre líneas */
    margin: 0;
    padding: 0;
    background-color: #161616;
    color: #ffffff; /* Color del texto */
}

.container {
    display: flex;
}

/* Estilos del contenido */
.main {
    flex: 1;
    padding: 20px;
    color: #000;
}

.main h1 {
    margin-top: 0;
    color: #f2f2f2;
}

.head-section h1 {
    font-size: 40px; /* Nuevo tamaño más pequeño */
    margin-bottom: 10px; /* Espacio inferior opcional */
}


.swal2-popup {
    background-color: rgb(0, 0, 0) !important;
}
.swal2-title,
.swal2-content,
.swal2-html-container {
    color: white !important;
}
.swal2-confirm {
    background-color:#ec6e19 !important;
    color: white !important;
}


.content {
    flex: 1;
    padding: 20px;
    color: #ffff;
}

.content h2 {
    margin-top: 0;
    color: #000;
}

.form-container {
    max-width: 300px;
    margin: 10px auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 1300px;
    margin-top: -70px;
}

/* Estilos para la etiqueta del input */
.form-container label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

/* Estilos para el input de fecha */
.form-container input[type=date] {
    padding: 5px;
    width: calc(100% - 80px);
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el botón de filtrar */
.form-container button[type=submit] {
    background-color: #ec6e19;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para el hover del botón */
.form-container button[type=submit]:hover {
    background-color: #000000;
}

/* Estilos de la tabla de usuarios */
.content table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ec6e19;
    border: 1px solid rgb(0, 0, 0); /* Borde de la tabla */
    border-radius: 10px; /* Borde redondeado */
    margin-left: -20px; /* Mover la tabla hacia la izquierda */
}

.content table th,
.content table td {
    padding: 8px; /* Espaciado interno */
    max-width: 150px; /* Ancho máximo para las celdas */
    overflow: hidden;
    text-overflow: ellipsis; /* Texto que desborda */
    white-space: nowrap; /* Sin salto de línea */
    background-color: #ec6e19;
    border-bottom: 1px solid #000; /* Línea separadora en la parte inferior */
    border-right: 1px solid #000; /* Línea separadora a la derecha */
}

.content table th {
    background-color: #000000;
    font-weight: bold;
    text-align: left;
   
}

.content table tr:last-child td {
    border-bottom: none; /* Eliminar línea separadora en la última fila */
}

.content table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.content table tr:hover {
    background-color: #ddd;
}

/* Estilos específicos para las celdas de Estado y ID Rol */
.content table td:nth-child(5), /* Estilos para la quinta columna (Estado) */
.content table td:nth-child(6) { /* Estilos para la sexta columna (ID Rol) */
    max-width: 50px; /* Ancho máximo para estas celdas */
}

.content table .actions button {
    background-color: #000000; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    padding: 6px 10px; /* Relleno del botón */
    font-size: 14px; /* Tamaño de la fuente del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor apuntador */
    margin-right: 5px; /* Margen derecho */
}

.content table .actions button:hover {
    background-color: #4CAF50; /* Color de fondo al pasar el ratón */
}


/* Estilos para los botones de acción */
.edit-btn,
.delete-btn {
    background-color: transparent;
    color: #000;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
    color: #555;
}




.content table .actions button {
    background-color: #000000; /* Cambia el color de fondo del botón */
    color: #ffffff; /* Cambia el color del texto del botón */
    padding: 6px 10px; /* Ajusta el relleno del botón */
    font-size: 14px; /* Cambia el tamaño de la fuente del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 4px; /* Aplica borde redondeado al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-right: 5px; /* Ajusta el margen derecho entre botones */
}

.content table .actions button:hover {
    background-color: #4CAF50; /* Cambia el color de fondo al pasar el ratón */
}


/* Otros estilos */
.select-wrapper,
.search {
    margin-bottom: 20px;
    text-align: center;
}

.select-wrapper select,
.search {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}

.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 6px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ffffff;
    margin: -1px 12px;
}

.pagination a.active {
    background-color: #000000;
    color: white;
    border: 1px solid #fa8908;
}

.pagination a:hover:not(.active) {
    background-color: #000000;
}

/* Otros estilos */
.action-form {
    display: flex;
    align-items: center;
}

.action-btn {
    margin-left: 10px;
    display: inline-block;
    font-size: 18px;
    padding: 6px 12px;
}

.action-btn i {
    margin-right: -20px;
}

.action-btn + .action-btn {
    margin-left: 10px;
}

.profile-div {
    position: absolute;
    top: 32px !important;  /* Ajusta este valor para bajar el contenedor */
    right: 10px !important;
    display: inline-block;
    margin-right: 20px;
    z-index: 999;
}

.profile-inner-container {
    background-color: #000000; /* Fondo negro para el contenedor */
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.title-container {
    background-color: #000000; /* Color de fondo */
    padding: 11px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Margen inferior */
    max-width: 1280px; /* Ancho máximo del contenedor */
    margin-left: -30px; /* Alinear a la izquierda */
    margin-right: auto; /* Alinear a la derecha */
    margin-top: 12px;
}

.search-bar {
        position: relative; /* Posición relativa para los elementos internos */
        display: flex; /* Usar flexbox para alinear elementos */
        align-items: center; /* Alinear elementos verticalmente */
        width: 100%; /* Ancho completo */
        max-width: 300px; /* Ancho máximo del contenedor de búsqueda */
    }

.search-bar input[type="text"] {
        flex: 1; /* Ocupar todo el espacio disponible */
        border: 1px solid #ccc; /* Borde */
        border-radius: 6px; /* Bordes redondeados */
        padding: 13px; /* Espaciado interno */
        font-size: 12px; /* Tamaño de fuente */
        margin-left: 1100px;
        margin-top: -70px;
    }
.search-bar button {
        background-color: transparent; /* Color de fondo del botón */
        color: #ec6e19; /* Color del texto */
        border: none; /* Sin borde */
        padding: 6px 10px; /* Espaciado interno */
        cursor: pointer; /* Cursor apuntador */
        transition: color 0.3s ease; /* Transición suave */
        position: absolute; /* Posición absoluta para el botón */
        right: -970px; /* Alinear a la derecha */
        top: -48px;
    }

.search-bar button:hover {
        color: #000000; /* Color del texto al pasar el ratón */
    }

.profile-div p {
    margin: 5px 0;
    padding: 0;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    color: #ffffff; /* Color del texto */
}

.user-options-container {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    right: 10px;
    top: 50px;
    z-index: 9999;
    width: 150px; /* Ancho del contenedor */
}

.user-option {
    display: block;
    padding: 8px 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.user-option:hover {
    background-color: #f0f0f0;
}

.user-option i {
    margin-right: 8px;
}

.profile-div .user1 {
    margin: 5px 0;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    color: #ffffff; /* Color de texto */
}

.profile-div p:hover {
    background-color: #bd9683; /* Fondo al hacer hover */
    color: #ffffff; /* Color de texto al hacer hover */
}




